@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';

.movie {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  &Inner {
    position: relative;
    width: 360px;
    height: 720px;
    padding: 120px 40px 40px;
    color: colors.$BLACK;
    background-color: rgb(243, 188, 188);
    border-radius: 60px;
  }

  .tasksTitle {
    margin: 30px 0 24px;
    font-size: 12px;
    font-weight: 600;
    color: colors.$TASKS_TITLE;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
}
