@use '/src/styles/constants/colors';
@use '/src/styles/mixins/position';
@use '/src/styles/mixins/visual';

.searchWrap {
  width: 100%;
  height: 40px;

  form {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;

    .searchBtn {
      @include position.posCenterY;
      left: 0;
      width: 40px;
      height: 40px;
      padding: 10px;
      font-size: 0;

      .icon {
        width: 20px;
        height: 20px;
      }

      &.search {
        fill: colors.$GRAY6;
      }

      &.reset {
        right: 10px;
        left: auto;
        display: block;
        fill: colors.$GRAY2;

        // &.active {
        //   display: block;
        // }
      }
    }

    input {
      width: 100%;
      height: 100%;
      padding: 0 48px 0 40px;
      font-weight: bold;
      background: colors.$SEARCH_INPUT;
      border: 1px solid colors.$SEARCH_BORDER;
      border-radius: 6px;
    }
  }

  .hidden {
    @include visual.hidden;
  }
}

.movieList {
  padding-top: 15px;

  .item {
    display: flex;
  }

  .image {
    width: 40%;

    img {
      width: 100%;
    }
  }

  .info {
    width: 60%;
    padding-left: 15px;

    .title {
      font-size: 20px;
    }

    .year {
      font-size: 14px;
    }

    .type {
      font-size: 14px;
    }
  }
}
