@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .layout {
    position: relative;
    width: 360px;
    height: 720px;
    padding: 80px 40px 40px;
    color: colors.$BLACK;
    background-color: rgb(243, 188, 188);
    border-radius: 60px;
  }
}

.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 60px;

  &Inner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 30vh;
    padding: 60px 20px 20px;
    background: colors.$WHITE;
    border-radius: 10px;
    transform: translate(-50%, -50%);
  }

  p {
    text-align: center;
  }

  .buttonWrap {
    padding-top: 60px;
    text-align: center;

    button {
      padding: 10px 30px;
      border: 1px solid colors.$BLACK;
      border-radius: 5px;

      +button {
        margin-left: 20px;
      }
    }
  }
}
