@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .layout {
    position: relative;
    width: 360px;
    height: 720px;
    padding: 80px 40px 40px;
    color: colors.$BLACK;
    background-color: rgb(243, 188, 188);
    border-radius: 60px;
  }
}
