@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';

.bottomTabBar {
  position: absolute;
  bottom: 3%;
  left: 50%;
  display: flex;
  width: 83%;
  height: 70px;
  background-color: colors.$WHITE;
  border-radius: 30px;
  transform: translateX(-50%);

  button {
    width: 50%;
    text-align: center;

    .search {
      width: 25px;
      fill: colors.$BLACK;
    }

    .favorit {
      width: 25px;
      fill: colors.$PINK;
    }
  }
}
