@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';

header {
  h1 {
    font-size: 32px;
    font-weight: 600;
    color: colors.$BLACK;
  }

  .abc {
    font-size: 11px;
  }
}
